<!DOCTYPE html>
<html>
    <head>
        <title>Blue-Ringed Octopus</title>
        <meta charset="UTF-8">
        <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
                crossorigin="anonymous">
        
        <link href="../content/css/index.css"  rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- little hack to give a empty space
            without changing margins -->
        <h5><span>&#8203;</span></h5>
        <div class="container">
            <h1 class="display-4">Blue-Ringed Octopus</h1>
            <p class="lead">
                (Hapalochlaena lunulata)
            </p>

            <p class="p-justified">
                Blue-ringed octopuses, comprising the genus Hapalochlaena, are four highly venomous species of octopus that are found in tide pools and coral reefs in the Pacific and Indian oceans, from Japan to Australia. They can be identified by their yellowish skin and characteristic blue and black rings that change color dramatically when the animal is threatened. They eat small crustaceans, including crabs, hermit crabs, shrimp, and other small animals.

                They are recognized as one of the world's most venomous marine animals. Despite their small size—12 to 20 cm (5 to 8 in)—and relatively docile nature, they are dangerous to humans if provoked when handled because their venom contains the powerful neurotoxin tetrodotoxin.
                
                The species tend to have a lifespan of approximately two years. This can vary depending on factors such as nutrition, temperature and the intensity of light in its habitat. 
            </p>

            <div class="source-footer">
                <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Blue-ringed_octopus">
                    <small class="text-muted">'Blue-ringed octopus' By Wikipedia</small>
                </a>
            </div>
        </div>
  </body>
</html>
