<!DOCTYPE html>
<html>
    <head>
        <title>Caribbean Reef Octopus</title>
        <meta charset="UTF-8">
        <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
                crossorigin="anonymous">
        
        <link href="../content/css/index.css"  rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- little hack to give a empty space
            without changing margins -->
        <h5><span>&#8203;</span></h5>
        <div class="container">
            <h1 class="display-4">Caribbean Reef Octopus</h1>
            <p class="lead">
                <em>Octopus briareus</em>
            </p>

            <p class="p-justified">
                The <strong>Caribbean reef octopus</strong> (<em>Octopus briareus</em>) is a coral reef marine animal. It has eight long arms that vary in length and diameter. The mantle is large and chunky in comparison (up to 60 cm long). This species is difficult to describe because it changes color and texture to blend into its surroundings, using specialised skin cells known as chromatophores. Its color range is very large; it can change from crimson to green, and bumpy to smooth. It weighs around 3.3 lb or 1.5 kg. 
            </p>

            <div class="source-footer">
                <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Caribbean_reef_octopus">
                    <small class="text-muted">'Carribean Reef Octopus' By Wikipedia</small>
                </a>
            </div>
        </div>
  </body>
</html>