<!DOCTYPE html>
<html>
    <head>
        <title>Coconut Octopus</title>
        <meta charset="UTF-8">
        <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
                crossorigin="anonymous">
        
        <link href="../content/css/index.css"  rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- little hack to give a empty space
            without changing margins -->
        <h5><span>&#8203;</span></h5>
        <div class="container">
            <h1 class="display-4">Coconut Octopus</h1>
            <p class="lead">
                <em>Amphioctopus marginatus</em>
            </p>

            <p class="p-justified">
                <em>Amphioctopus marginatus</em>, also known as the <strong>coconut octopus</strong> and veined octopus, is a medium-sized cephalopod belonging to the genus <em>Amphioctopus</em>. It is found in tropical waters of the western Pacific Ocean. It commonly preys upon shrimp, crabs, and clams, and displays unusual behavior including bipedal walking and tool use (gathering coconut shells and seashells and using these for shelter). 
            </p>

            <div class="source-footer">
                <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Amphioctopus_marginatus">
                    <small class="text-muted">'Coconut Octopus' By Wikipedia</small>
                </a>
            </div>
        </div>
  </body>
</html>