<!DOCTYPE html>
<html>
    <head>
        <title>Giant Pacific Octopus</title>
        <meta charset="UTF-8">
        <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
                crossorigin="anonymous">
        
        <link href="../content/css/index.css"  rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- little hack to give a empty space
            without changing margins -->
        <h5><span>&#8203;</span></h5>
        <div class="container">
            <h1 class="display-4">Giant Pacific Octopus</h1>
            <p class="lead">
                <em>Enteroctopus dofleini</em>
            </p>

            <p class="p-justified">
                The <strong>giant Pacific octopus</strong> (<em>Enteroctopus dofleini</em>, formerly also <em>Octopus apollyon</em>), also known as the North Pacific giant octopus, is a large marine cephalopod belonging to the genus <em>Enteroctopus</em>. Its spatial distribution includes the coastal North Pacific, along California, Oregon, Washington, British Columbia, Alaska, Russia, Japan, and Korean Peninsula. It can be found from the intertidal zone down to 2,000 m (6,600 ft), and is best adapted to cold, oxygen-rich water.
                
                It is the largest octopus species, based on a scientific record of a 71-kg (156-lb) individual weighed live.
            </p>

            <div class="source-footer">
                <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Giant_Pacific_octopus">
                    <small class="text-muted">'Giant Pacific Octopus' By Wikipedia</small>
                </a>
            </div>
        </div>
  </body>
</html>