<!DOCTYPE html>
<html>
    <head>
        <title>Mimic Octopus</title>
        <meta charset="UTF-8">
        <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
                rel="stylesheet" 
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
                crossorigin="anonymous">
        
        <link href="../content/css/index.css"  rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!-- little hack to give a empty space
            without changing margins -->
        <h5><span>&#8203;</span></h5>
        <div class="container">
            <h1 class="display-4">Mimic Octopus</h1>
            <p class="lead">
                <em>Thaumoctopus mimicus</em>
            </p>

            <p class="p-justified">
                The <strong>mimic octopus</strong> (<em>Thaumoctopus mimicus</em>) is an Indo-Pacific species of octopus from the Indo-Pacific region. Like other octopuses, it uses its chromatophores to disguise itself with its background. However, it is noteworthy for being able to impersonate a wide variety of other marine animals. Although many animals mimic either their environment or other animals to avoid predation, the mimic octopus and its close relative the wunderpus are the only ones known to actively imitate a number of animals in order to elude predators.
            </p>

            <div class="source-footer">
                <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Mimic_octopus">
                    <small class="text-muted">'Mimic Octopus' By Wikipedia</small>
                </a>
            </div>
        </div>
  </body>
</html>